extends layout

block content
    
    h1=title
    form(action="/auth/login", method="post")
        input(type="email", name="username") 
        input(type="password", name="password")
        button(type="submit") Login